*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background-image: <img src="https://placehold.co/200x400/EEE/31343C" alt="Placehold" border="2">;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}